<h1>Welcome</h1>
<p>This is a basic chat app</p>

<ul class="list-group">
  <%= render @rooms %>
</ul>

<%= form_for Room.new, html: {class: "form-inline mt-3"} do |f| %>
  <%= f.text_field :name, class: 'form-control mr-2', placeholder: 'Create new room' %>
  <%= submit_tag "Create", class: 'btn btn-primary' %>
<% end %>

